.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);

  z-index: 10;
}

.hotel-name {
  color: gold;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
